.nav-button-base {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-alignment: center-left;
    -fx-max-width: Infinity;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 8 28 8 28; 
}

.hover-btn:hover {
    -fx-background-color: rgba(255,255,255,0.15);
    -fx-cursor: hand;
}

.active-btn {
    -fx-background-color: #1976d2; 
    -fx-font-weight: bold;
}

.table-row-cell:hover {
    -fx-background-color: #e2e8f0;
    -fx-cursor: hand;
}

.hover-blue:hover {
    -fx-background-color: #125a9c;
    -fx-cursor: hand;
}